
@font-face {
	font-family: 'Lane'; 
	src: url('/assets/fonts/LANENAR_.ttf'); 
}

.site-logo{
    font-family:'Lane';
    float:left;
    color:black;
    font-size: 50px;
    display:block;

}

.site-header{
    border-bottom:solid 5px gray;
    display:block;
    overflow:auto;
    margin-bottom: 10px;
}