




.input-wrapper{
    
    margin-left:2rem;
    margin-right:2rem;
    background:#e8e8d0;
    border-radius:15px;
    padding:15px;
    padding-top:30px;
    padding-bottom:30px;

}

h1{
    margin-left:1.5rem;
    font-family:'Lane';
    font-weight:100;
}

form>div{
    display: inline-block;
}
input{
    height:50px;
    width:60px;
    background-color: white;
    margin-left: 5px;
    font-size:50px;
    font-family:'Lane';
    display:inline-block;
    border:none;
}

@media all and (min-width: 1024px) and (max-width: 1280px) { 
    .answer-input{
    width:45%;
    display:inline-block;
   /* border:10px solid black;*/

}
}

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) { .answer-input{
    height:200px;
    width:100%;
    display:inline-block;
   /* border:10px solid black;*/

}}


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }