




.input-wrapper{
    
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top:2rem;
    background: #e8e8d0;
    border-radius: 15px;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

h1{
    margin-left: 1.8rem;
    font-family: 'Lane';
    font-weight: 100;
    margin-bottom: .5rem;
    margin-top:0rem;
}

.input-wrapper>h1{
    margin-left:0rem;
}

form>div{
    display: inline-block;
}
input{
    height: 3.1rem;
    width: 3.3rem;
    background-color: white;
    margin-left: 5px;
    font-size:50px;
    font-family:'Lane';
    display:inline-block;
    border:none;
}

.answer-input{
    width:45%;
    display:inline-block;
   /* border:10px solid black;*/

}

