

.dictionary{
    height:400px;
    width:45%;
    display:inline-block;
    border-left:6px solid #808080;
    vertical-align: top;
}

.dictionary-inner{
    position:relative;
    top:60px;
    margin-left:5%;
    margin-right:5%;
    border-bottom:solid 2px gray;
}

.dictionary-definition{
    position:relative;
    margin-left:5%;
    margin-right:5%;
    font-family:'Lane';
    top:70px;
    font-size:21px;
    
}
.jumbo-word{
    font-size:40px;
    position:relative;
    width:80%;
    font-weight: 100;
}

@media all and (min-width: 1024px) and (max-width: 1280px) { .dictionary{
    height:400px;
    width:45%;
    display:inline-block;
    border-left:6px solid gray;
    vertical-align: top;
}}

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) {.dictionary{
    height:200px;
    width:100%;
    display:inline-block;
    border-left:10px solid black;
    vertical-align: top;
} }


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }